*{
	padding: 0px;
	margin: 0px;
	color: white;
}

#toolbar{
	height: 10%;
	background-color: #021560;
	display: flex;
	justify-content: space-evenly;
	align-items: flex-start;
}

#statusbar{
	float: bottom;
	height: 10%;
	background-color: #021560;
	font-size: 30px;
}

#world{
	height: 80vh;
	width: 100vw;
}